body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
}

.container-fluid {
    padding: 7% 15%;
}

/* Navigation */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}

/* Title */

#title {
    background-color: #ff4C68;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.title-text {
    font-size: 3rem;
    line-height: 1.5;
    
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Download Buttons */

.download-btn {
    margin: 3% 5% 3% 0;
}

.img-container {
    position: relative;
}

/* Features */

#features {
    background-color: #fff;
    position: relative;
    z-index: 1;
}


.ft-icon {
    color: #ef8172;
    padding-bottom: 10px;
}

.ft-icon:hover {
    color: #ff4C68;
}

.ft-heading {
    font-size: 1.5rem;
}

.ft-text {
    color: #8f8f8f
}

/* Testimonials */

#testimonials {
    background-color: #ef8172;
    color: #fff;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 2.8rem;
    line-height: 1.5;
}

/* Press */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 3% 10%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* CTA */

#cta {
    background-color: #ff4c68;
    color: #fff;
}

/* Footer */

#footer {
    background-color: #fff;
    margin: 30px 50px 25px;
}

/* Media Queries */

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }

    h2 {
        font-size: 2rem;
    }
}